[submodule "lib/td"]
	path = lib/td
	url = https://github.com/lccxz/td.git
[submodule "lib/openssl"]
	path = lib/openssl
	url = https://github.com/lccxz/openssl.git
[submodule "lib/libdns"]
	path = lib/libdns
	url = https://github.com/lccxz/libdns.git
[submodule "lib/libxml2"]
	path = lib/libxml2
	url = https://github.com/lccxz/libxml2.git
